Table: T-Test Results for Jewish and Arab Displays

|Display |  Statistic|   P_Value|
|:-------|----------:|---------:|
|Jewish  |  1.9062385| 0.0566926|
|Arab    | -0.7360867| 0.4617223|
